@page {
  size: A4;
}

* {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
    color-adjust: exact !important;                 /*Firefox*/
    overflow: visible;
    float: none !important;
}

@page:first {
    margin-top: 0cm;
    margin-bottom: 0cm;
    margin-left: 0cm;
    margin-right: 0cm;
}

@page {
  overflow: visible;
  margin-bottom: 0cm;
  margin-top: 0cm;
}

.page {
  page-break-after: always;
}

#logo{
  display: none;
}

nav{
  display: none;
}

.title{
  position: absolute;
  width: 500px;
  height: 95px;
  left: 20px;
  top: 172px;

  // font-family: Favorit Std;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 95.5%;
  /* or 46px */


  color: #000000;
  word-break: break-all;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  //
  // /* legacy properties */
  // -webkit-hyphenate-limit-before: 3;
  // -webkit-hyphenate-limit-after: 3;
  // /* current proposal */
  // -moz-hyphenate-limit-chars: 6 3 3;     /* not yet supported */
  // -webkit-hyphenate-limit-chars: 6 3 3;  /* not yet supported */
  // -ms-hyphenate-limit-chars: 6 3 3;
  // hyphenate-limit-chars: 6 3 3;

}

.subtitle{
  position: absolute;
  width: 566px;
  height: 76px;
  left: 20px;
  top: 267px;

  // font-family: Favorit Std;
  font-style: normal;
  font-weight: normal;
  font-size: 22.6895px;
  line-height: 130%;
  /* or 29px */


  color: #000000;

  /*new page*/
}

.date{
  position: absolute;
  width: 253px;
  height: 50px;
  left: 20px;
  top: 114px;

  // font-family: Favorit Std;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 102%;
  /* or 18px */


  color: #000000;
}

// footer {page-break-after: always;}

.text{
  position: relative;
  page-break-before: always;
  // page-break-inside: auto;
  width: 70%;
  font-size: 12pt;
  margin: 0;
  // height: 10cm;
  float: none !important;

  // box-decoration-break: clone;
  // border: 1px solid black;
  // padding-top: 5cm;
  // padding-bottom: 5cm;

  // height: auto;
  overflow: visible!important;
  // page-break-inside: auto !important;
  iframe{
    display: none;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    line-height: 0pt !important;
    white-space: nowrap;
  }
  img{
    transform: translateX(3cm);
  }
  :global(h1, h2, h3, h4, h5, h6)
      { page-break-after:avoid; page-break-inside:avoid }
  img { page-break-inside:avoid; page-break-after:avoid; }
}

.bg-circle{
  display: block;
  position: absolute;
  width: 377px;
  height: 359px;
  left: -64px;
  top: 87px;
  z-index: -100;

  border-radius: 200px;
  background-color: $yellow;
  filter: blur(1000px);
}

.titleImg {
  position: absolute;
  width: 60vw;
  height: 30vw;
  right: 22px;
  top: 360px;
}

.titleImg img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.abstract{
  position: absolute;
  width: 60vw;
  // height: 178.74px;
  right: 22px;
  top: 17cm;

  // font-family: Favorit Std;
  font-style: normal;
  font-weight: normal;
  font-size: 13.2403px;
  line-height: 140%;

  border: 1px solid $yellow;
  border-radius: 10px;
  padding: 0.5cm 0.5cm 0.5cm 0.5cm;

}

.page-header{
  // display: block;

  position: fixed;
  width: 260px;
  height: 95px;
  left: 600px;
  top: 100px;

  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 102%;
/* or 12px */

  color: #000000;

  transform: rotate(90deg);
}

.page-footer {
  position: fixed;
  bottom: 0;
  left: 0;
}

.footnotes{
  page-break-before: always;
}

.page-header-space {
  height: 100px;
}

.page-footer-space {
  height: 100px;

}
