@import 'reset';

// @font-face {
// 	font-family: 'Sans';
// 	src: url('/fonts/Inter-Light.woff2') format('woff2'),
// 		 url('/fonts/Inter-Light.woff') format('woff');
// 	font-weight: normal;
// 	font-style: normal;
// }

@import 'mixins';

:root {
	--full-height: 100vh;
	--header-height: 1rem;
	--unit: size();
}

html {
	font-size: 1em;
}

body {
	color: $black;
	background-color: $white;
	@include regular;
	@include text-normal;
}

.button {
	padding: 0.2em 0.5em;
	text-transform: uppercase;
	background-color: #eee;
	border-radius: 0.35em;
	transition: background-color 300ms ease;
	&:hover,
	&[aria-current=page] {
		background-color: $yellow;
	}
}
nav {
	display: flex;
	.button {
		margin: 0.3em;
	}
}

h1, h2 {
	@include text-large;
}
h3 {
	@include bold;
}
.mono {
	@include mono;
	@include text-small;
}

blockquote {
	&:before{
		content:"»";
	}
	&:after{
		content:"«";
	}
}

.text {
	@include text-medium;
	blockquote,
	figure {
		margin: 2rem;
	}
	figure iframe {
		margin: 2rem;
		width: 100%;
		height: auto;
	}
	figure {
		ul {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 2rem;
		}
	}
	h1, h2 {
		margin-top: 4rem;
		margin-bottom: 2rem;
	}
	h3, h4, h5, h6 {
		margin-top: 2rem;
	}
	a[href^="#_ftn"] {
		@include mono;
		@include text-small;
		vertical-align: super;
		&:hover {
			color: blue;
		}
	}
}

@keyframes slide-up {
	from {
		opacity: 0;
		transform: translateY(2rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
.slide-up {
	animation-name: slide-up;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

.print-only {
	display: none;
}

@media print {
	.print-only {
		display: block;
	}
	@import 'print';
}
