@import 'reset';

// @font-face {
// 	font-family: 'Sans';
// 	src: url('/fonts/Inter-Light.woff2') format('woff2'),
// 		 url('/fonts/Inter-Light.woff') format('woff');
// 	font-weight: normal;
// 	font-style: normal;
// }

@import 'mixins';

:root {
	--full-height: 100vh;
	--header-height: 1rem;
	--unit: size();
}

html {
	font-size: 1em;
}

body {
	color: $black;
	background-color: $white;
}

h1, h2 {
	font-size: 2rem;
}

blockquote {
	&:before{
		content:"»";
	}
	&:after{
		content:"«";
	}
}

.text {
	font-size: 1.2rem;
	blockquote,
	figure {
		margin: 2rem;
	}
	figure iframe {
		margin: 2rem;
		width: 100%;
		height: auto;
	}
	figure {
		ul {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 2rem;
		}
	}
	h1, h2 {
		margin-top: 4rem;
		margin-bottom: 2rem;
	}
	h3, h4, h5, h6 {
		margin-top: 2rem;
	}
}
